<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://10.0.0.27:52284;databaseName=SmartInventoryDB;TrustServerCertificate=True</property>
		<property name="hibernate.connection.username">abhitest</property>
		<property name="hibernate.connection.password">Abhi123@.</property>
		<property name="hibernate.transaction.jta.platform">org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- L2 Cache Config for Caffeine -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
		<property name="hibernate.javax.cache.provider">com.github.benmanes.caffeine.jcache.spi.CaffeineCachingProvider</property>
		<property name="hibernate.javax.cache.uri">caffeine.properties</property>
		
		<mapping class="com.abhi.model.User" />
		<mapping class="com.abhi.model.Order" />
		<mapping class="com.abhi.model.Invoice" />
	</session-factory>
</hibernate-configuration>
